[submodule "vendor/qhull"]
	path = vendor/qhull
	url = https://github.com/qhull/qhull.git
[submodule "vendor/cfitsio"]
	path = vendor/cfitsio
	url = https://github.com/HEASARC/cfitsio.git
[submodule "vendor/gsl"]
	path = vendor/gsl
	url = https://git.savannah.gnu.org/git/gsl.git
